<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="description" content="サイトの説明文を入力してください" />
    <meta name="keywords" content="サイトのキーワードを入力してください" />

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <title>サイトのタイトルを入力してください</title>

  </head>

  <body>
    <!-- Navbar goes here -->
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">メンバー状況</a>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href="menu1.html"></a></li>
          <li><a href="menu2.html"></a></li>
          <li><a href="menu3.html"></a></li>
        </ul>
        <!-- Include this line below -->
        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
        <!-- End -->
      </div>
    </nav>

    <!-- Page Layout here -->
    <div class="row">

      <div class="col s12 m4 l3">
        <div class="collection">
          <div class="collection-item">案件登録</div>
          <div class="collection-item">メンバー状況</div>
          <div class="collection-item">案件一覧</div>
          <div class="collection-item">外注管理表</div>
        </div>
      </div>

      <div class="col s12 m8 l9">
        <table>
          <p>1日</p>
          <thead>
            <tr>
              <th>担当者名</th>
              <th>依頼範囲</th>
              <th>出勤時間</th>
              <th>退勤時間</th>
              <th>作業時間</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>松本慎太郎</td>
                <td>単語</td>
                <td>10:00</td>
                <td>19:00</td>
                <td>8時間</td>
              </tr>
              <tr>
                <td>松本慎太郎</td>
                <td>単語</td>
                <td>10:00</td>
                <td>19:00</td>
                <td>8時間</td>
              </tr>
              <tr>
                <td>松本慎太郎</td>
                <td>単語</td>
                <td>10:00</td>
                <td>19:00</td>
                <td>8時間</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/init.js"></script>
      </body>
      </html>
